/* You can add global styles to this file, and also import other style files */
body {

    background-color: rgb(240, 111, 137);
    font-family: Avenir;
}

h1 {
    font-family: 'Helvetica Neue';
    font-weight: 500;
}

label {
    font-family: Avenir;
    font-weight: 300;
}

.error {
    font-family: Lato;
}